---
import Layout from "../layouts/Layout.astro";
import "../styles/500.css";
---

<Layout>
    <div id="error">
        <div id="box"></div>
        <h3>ERROR 500</h3>
        <p>Las cosas están un poco <span>inestables</span> por aquí</p>
        <p>Te sugerimos regresar más tarde</p>
    </div>
</Layout>
