---
import Layout from '../layouts/Layout.astro';

// testing
throw new globalThis.Error("Simulación intencional de error 500 para pruebas de diseño");
---

<Layout>
    <p> Pagina para probar el error 500 </p>
</Layout>